<h1><a routerLink="">Mortgage planner</a></h1>
<a routerLink="compare">Compare</a> <br />
<button (click)="create()">create new</button>
<nav>
  <ul *ngFor="let schedule of schedules">
    <a routerLink="schedule/{{schedule.id}}" routerLinkActive="active">
      {{scheduleName(schedule)}}
    </a>
    <button (click)="remove(schedule)">X</button>
    <button (click)="copy(schedule)">copy</button>
  </ul>
</nav>

<hr>

<router-outlet></router-outlet>


<hr>
<p>
    todo:   
  </p>
  <ul>
      <li>custom schedule title</li>
      <li>compare schedules</li>
      <li>change calculation type - decrease monthly cover</li>
      <li>anuitetas</li>
      <li>interest change</li>
      <li>update changes directly from list</li>
    </ul>
