<hr>

<table>
  <thead>
      <tr>
          <th>Nr</th>
          <th>Date</th>
          <th>Cover part</th>
          <th>Interest part</th>
          <th>Summ</th>
          <th>Credit left</th>
        </tr>
  </thead>
  <tbody>
      <tr *ngFor="let payment of schedule.payments">
          <ng-container>
              <td>{{getPaymentLabel(payment)}}</td>
              <td>{{formatDate(payment.date)}}</td>
              <td>{{payment.cover || ""}}</td>
              <td>{{payment.interest}}</td>
              <td>{{payment.sum}}</td>
              <td>{{payment.left}}</td>
          </ng-container>   
        </tr>
  </tbody>
  <tfoot>
      <tr>
          <td></td>
          <td></td>
          <td>{{schedule.totalCover}}</td>
          <td>{{schedule.totalInterest}}</td>
          <td>{{schedule.totalSum}}</td>
          <td></td>
        </tr>
  </tfoot>
  
</table>