<ng-container *ngIf="schedule">
  <schedule-options [schedule]="schedule" (scheduleUpdated)="onScheduleUpdated($event)"></schedule-options><changes 
    (onChanges)="onChangesUpdated($event)" [changes]="schedule.changes" ></changes>

  <hr>

  <schedule-comparison [schedule]="linearSchedule" [changedSchedule]="changedSchedule" ></schedule-comparison>

  <div *ngIf="hasChanges">
    <button (click)="hideChanges = !hideChanges">toggle changes</button>
  </div>

  <schedule *ngIf="calculatedSchedule" [schedule]="calculatedSchedule"></schedule>
</ng-container>