<ng-container *ngIf="schedule">
  <schedule-options [schedule]="schedule" (scheduleUpdated)="onScheduleUpdated($event)"></schedule-options><changes 
    (onChanges)="onChangesUpdated($event)" [changes]="schedule.changes" ></changes>

  <hr>

  <schedule-comparison [schedule]="linearSchedule" [changedSchedule]="changedSchedule" ></schedule-comparison>

  <div *ngIf="hasChanges">
    <button (click)="hideChanges = !hideChanges">toggle changes</button>
  </div>

  <schedule *ngIf="calculatedSchedule" [schedule]="calculatedSchedule"></schedule>
</ng-container>

<hr>
<p>
    todo:   
  </p>
  <ul>
      <li>return charge</li>
      <li>compare schedules</li>
      <li>change calculation type - decrease monthly cover</li>
      <li>anuitetas</li>
      <li>interest change</li>
      <li>update changes directly from list</li>
    </ul>