<p>
  Original schedule will finish at {{endDate}}, which is {{duration}} from today
</p>
<!-- todo: implement visual change "bar" for better comparison -->
<ng-container *ngIf="changedSchedule">
    <p>
      Updated schedule will finish at {{changedEndDate}}, which is {{changedDuration}} from today
    </p>
    <p>
      Savings: {{timeSavings}}
    </p>
</ng-container>
<hr>
<p>
  Original total cost {{total}}eur, overpaid {{overpaid}}eur 
</p>
<ng-container *ngIf="changedSchedule">
    <p>
      Updated total cost {{changedTotal}}eur, overpaid {{changedOverpaid}}eur 
    </p>
    <p>
      Savings: {{savings}}eur
    </p>
</ng-container>

